.Device {
  position: relative;
  border-radius: 10px;
  border: 1px solid #333336;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  background-image: linear-gradient(
    0deg,
    rgb(38, 38, 39) 0%,
    rgba(65, 65, 70, 1) 35%,
    rgba(82, 82, 83, 1) 100%
  );

  > div {
    border-radius: 3px;
    border: 1px solid rgba(153, 153, 153, 0.3);
    border-top-color: rgba(21, 21, 21, 0.7);
    border-left-color: rgba(21, 21, 21, 0.7);
    background-color: rgba(104, 104, 104, 0.3);

    &.TopBlock {
      padding: 5px 10px;
      display: flex;
      align-items: center;
      gap: 5px;
      > .Label {
        color: var(--aux-active-base);
      }
      > .CPULabel {
        color: var(--aux-active-base);
      }
    }

    &.Controls {
      display: flex;
      gap: 30px;
      padding: 10px 15px;
      min-height: 250px;

      > .LeftBlock {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 12px;
      }
    }
  }
}
